.popup__btn_state_invalid {
    cursor: auto;
    color: #000;
    background-color: #E5E5E5;
    border: 1px solid #000;
    opacity: .2;
}

.popup__btn_state_invalid:hover {
    opacity: .2;
    cursor: auto;
}