.elems__list {
    list-style-type: none;
    padding-left: 0;
    max-width: 69%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 18px;
    justify-content: center;
  }