.popup__content {
  position: relative;
  background-color: #fff;
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border-radius: 20px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 36px;
  width: 358px;
}

@media (max-width: 520px) {
  .popup__content {
    padding: 25px 22px;
    width: 238px;
  }
}
